* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.product-card {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 560px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  border-radius: 6px;
}

.product-description {
  width: 500px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem;
  gap: 1rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: grey;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.75rem;
}

p {
  font-size: 0.8rem;
  color: rgb(168, 166, 166);
  font-weight: 510;
  line-height: 1.3rem;
}

.card-image {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 5px 0 0 5px;
  object-position: center;
}

img {
  width: 280px;
  height: auto;
  object-fit: cover;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#newprice {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
}

#oldprice {
  text-align: right;
  font-size: 0.8rem;
  font-weight: 510;
  text-decoration: line-through;
  color: rgb(168, 166, 166);
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  background-color: hsl(158, 36%, 37%);
  color: white;
  gap: 1rem;
}

button:hover {
  background-color: hsl(158, 67%, 14%);
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  img {
    content: url(image-product-mobile.jpg);
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 500px;
    height: auto;
  }

  .product-description {
    width: 90%;
    padding: 3rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 40px;
  }

  p {
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 500;
  }

  body {
    background-color: hsl(30, 38%, 92%);
    padding: 3rem;
  }
}
